<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns         = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        id            = "com.antovar.prueba"
        versionCode   = "1"
        version       = "1.0">

    <name>Prueba</name>

    <description>
        Mi sistema de información
    </description>

    <author href="http://antovar.260mb.com" email="antovar@gmail.com">
        Antonio Tovar
    </author>

    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device" />

    <gap:plugin name="org.apache.cordova.file"/>

    <preference name="phonegap-version"        value="3.6.3" />
    <preference name="android-installLocation" value="auto" />
    <preference name="orientation"             value="default" />
    <preference name="KeepRunning"             value="false" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,sdcard,cache" />
</widget>
